In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaitape,PF,2022-07-26 02:15:11,-16.5167,-151.7500,77.41,76,88,9.42
1,1,Nikolskoye,RU,2022-07-26 02:15:12,59.7035,30.7861,59.81,90,80,2.33
2,2,Tetiyiv,UA,2022-07-26 02:15:12,49.3767,29.6647,56.30,92,0,5.70
3,3,Ushuaia,AR,2022-07-26 02:15:13,-54.8000,-68.3000,35.26,69,40,18.41
4,4,Mataura,NZ,2022-07-26 02:15:13,-46.1927,168.8643,46.47,97,100,10.85

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent coudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaitape,PF,2022-07-26 02:15:11,-16.5167,-151.7500,77.41,76,88,9.42
6,6,Cayenne,GF,2022-07-26 02:15:14,4.9333,-52.3333,83.08,9,20,2.30
7,7,Hilo,US,2022-07-26 02:11:53,19.7297,-155.0900,88.29,92,75,4.61
12,12,Dwarka,IN,2022-07-26 02:15:16,22.2394,68.9678,82.53,80,100,18.52
13,13,Kayes,ML,2022-07-26 02:15:16,14.0000,-11.0000,75.06,92,100,5.41
15,15,Nador,MA,2022-07-26 02:10:43,35.1740,-2.9287,79.05,73,0,2.30
17,17,Ransang,PH,2022-07-26 02:15:18,8.9603,117.5828,84.78,70,100,0.78
18,18,Rikitea,PF,2022-07-26 02:15:18,-23.1203,-134.9692,75.54,74,44,11.14
21,21,Bilma,NE,2022-07-26 02:15:20,18.6853,12.9164,86.54,20,20,11.34
22,22,Daru,PG,2022-07-26 02:10:37,-9.0763,143.2092,78.44,82,87,15.41

In [18]:
preferred_cities_df.count()

City_ID       206
City          206
Country       206
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

       City Country  Max Temp      Lat       Lng Hotel Name
0   Vaitape      PF     77.41 -16.5167 -151.7500
6   Cayenne      GF     83.08   4.9333  -52.3333
7      Hilo      US     88.29  19.7297 -155.0900
12   Dwarka      IN     82.53  22.2394   68.9678
13    Kayes      ML     75.06  14.0000  -11.0000
15    Nador      MA     79.05  35.1740   -2.9287
17  Ransang      PH     84.78   8.9603  117.5828
18  Rikitea      PF     75.54 -23.1203 -134.9692
21    Bilma      NE     86.54  18.6853   12.9164
22     Daru      PG     78.44  -9.0763  143.2092

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

   # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaitape,PF,77.41,-16.5167,-151.7500,Conrad Bora Bora Nui
6,Cayenne,GF,83.08,4.9333,-52.3333,Hôtel Le Dronmi
7,Hilo,US,88.29,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Dwarka,IN,82.53,22.2394,68.9678,Hotel Narayan Avezika Comfort
13,Kayes,ML,75.06,14.0000,-11.0000,
15,Nador,MA,79.05,35.1740,-2.9287,
17,Ransang,PH,84.78,8.9603,117.5828,
18,Rikitea,PF,75.54,-23.1203,-134.9692,
21,Bilma,NE,86.54,18.6853,12.9164,
22,Daru,PG,78.44,-9.0763,143.2092,

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))