## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Kapaa,US,22.0752,-159.3190,80.58,77,20,10.36,few clouds
1,1,Rikitea,PF,-23.1203,-134.9692,74.10,73,98,12.73,overcast clouds
2,2,Nome,US,64.5011,-165.4064,48.27,81,100,0.00,overcast clouds
3,3,Mataura,NZ,-46.1927,168.8643,47.48,99,100,1.68,moderate rain
4,4,Cuamba,MZ,-14.8031,36.5372,68.68,50,95,7.18,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Kapaa,US,22.0752,-159.3190,80.58,77,20,10.36,few clouds
1,1,Rikitea,PF,-23.1203,-134.9692,74.10,73,98,12.73,overcast clouds
6,6,Castro,BR,-24.7911,-50.0119,71.80,47,42,5.97,scattered clouds
7,7,Los Llanos De Aridane,ES,28.6585,-17.9182,71.35,78,0,17.27,clear sky
9,9,Atuona,PF,-9.8000,-139.0333,77.29,67,33,20.83,scattered clouds
10,10,Jamestown,US,42.0970,-79.2353,77.02,59,100,9.22,overcast clouds
12,12,Puerto Ayora,EC,-0.7393,-90.3518,78.76,89,87,10.00,overcast clouds
15,15,Butaritari,KI,3.0707,172.7902,81.37,76,5,16.04,light rain
21,21,Albany,US,42.6001,-73.9662,80.06,51,99,0.20,overcast clouds
22,22,Faanui,PF,-16.4833,-151.7500,78.96,72,9,19.53,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID            334
City               334
Country            334
Lat                334
Lng                334
Max Temp           334
Humidity           334
Cloudiness         334
Wind Speed         334
Current Weather    334
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df= preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,Kapaa,US,80.58,few clouds,22.0752,-159.3190,
1,Rikitea,PF,74.10,overcast clouds,-23.1203,-134.9692,
6,Castro,BR,71.80,scattered clouds,-24.7911,-50.0119,
7,Los Llanos De Aridane,ES,71.35,clear sky,28.6585,-17.9182,
9,Atuona,PF,77.29,scattered clouds,-9.8000,-139.0333,
10,Jamestown,US,77.02,overcast clouds,42.0970,-79.2353,
12,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,
15,Butaritari,KI,81.37,light rain,3.0707,172.7902,
21,Albany,US,80.06,overcast clouds,42.6001,-73.9662,
22,Faanui,PF,78.96,clear sky,-16.4833,-151.7500,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,Rikitea,PF,74.10,overcast clouds,-23.1203,-134.9692,People ThankYou
6,Castro,BR,71.80,scattered clouds,-24.7911,-50.0119,CHACARA BAILLY
7,Los Llanos De Aridane,ES,71.35,clear sky,28.6585,-17.9182,Valle Aridane
9,Atuona,PF,77.29,scattered clouds,-9.8000,-139.0333,Villa Enata
10,Jamestown,US,77.02,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
12,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
15,Butaritari,KI,81.37,light rain,3.0707,172.7902,Isles Sunset Lodge
21,Albany,US,80.06,overcast clouds,42.6001,-73.9662,
22,Faanui,PF,78.96,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [15]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df= hotel_df.dropna()

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))